* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
}

h1 {
  height: 30px;
  color: brown;
  display: flex;
  margin: 100px;
  justify-content: center;
  align-items: center;
}

img {
  border: 3px solid grey;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 290px;
  padding: 60px;
  gap: 50px;
  margin-left: 350px;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* height: 30px;
  border-radius: 10px; */
}

.search-item {
  display: flex;
  flex-direction: row;
  height: 30px;
  padding: 5px;
  font-weight: bold;
  color: brown;
  border: 3px none gray;
  border-radius: 5px;
  margin-right: 20px;
}

button {
  width: 110px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid brown;
  color: brown;
  font-weight: bold;
}

button:hover {
  background-color: blanchedalmond;
}